modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Run"
author = 46032467
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Servidor Web"

[[workflows.workflow]]
name = "Servidor Web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
expertMode = true

[[ports]]
localPort = 5000
externalPort = 80
